
body {
  margin-left: 20px;
  margin-top: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
}
//h3 {
//  font-size: 2rem;
//}
//
//.linkTag {
//  color: #0345c2;
//  cursor: pointer;
//
//  &:hover {
//    background-color: yellow;
//    text-decoration: underline;
//  }
//}
//
.headlineHover {
  text-decoration: none;
  color: #0345c2;
  cursor: pointer;
  font-size: 2rem;
}
