.container{
  margin: 2rem;

  .headlineHover {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
  }

  .linkTag {
    padding: 10px;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: #f8f8cb;
    }
  }
}

.lessonTable {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;

  .tootipBox {
    display: inline-block;
    position: relative;
    flex-direction: column;

    h3 {
      flex: 1;

      &:hover + .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
    .tooltip {
      position: absolute;
      top: 70%;
      left: 70%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.75);
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease-in-out, visibility 0.2s;
    }
  }


  .tableDetail {
    flex: 3;

    label {
      font-size: 1.2rem;
    }
    input {
      padding: 0.3rem;
      font-size: 1rem;
      cursor: help;
      width: 300px;
    }
  }
}

