@use "../_variables" as color;

dialog {
  border: 1px solid color.$component-border;
}

.container {
  @include color.flex-column;
  width: 300px;
  height: 300px;

  & > input {
    @include color.dialog-input;
    padding: 10px;
  }

  .buttonContainer {
    @include color.flex-row;

    & > button {
      @include color.dialog-button;
    }
  }
}
